<div layout="row" layout-wrap >

    <div class="about" layout="column" flex="100" flex-gt-md="50" flex-gt-lg="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column" nv-file-drop uploader="vm.uploader">
            <form name="log_in" ng-submit="vm.updateAccount()">
                <header class="md-accent-bg">
                    <div class="title" >Account Setting</div>
                </header>

                <div class="content" layout="row" layout-wrap style="font-size: 18px;">

                    <md-input-container flex="100" flex-gt-md="45" >
                        <label>First Name</label>
                        <input type="text" ng-model="vm.accountSetting.fname" required>
                    </md-input-container>

                    <div flex-gt-md="10"></div>

                    <md-input-container flex="100" flex-gt-md="45">
                        <label>Last Name</label>
                        <input type="text" ng-model="vm.accountSetting.lname" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Email</label>
                        <input type="email" ng-model="vm.accountSetting.email"  required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Address1</label>
                        <input type="text" ng-model="vm.accountSetting.address1" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Unit/Apt #</label>
                        <input type="text" ng-model="vm.accountSetting.address2">
                    </md-input-container>

                    <md-input-container flex="100" flex-gt-md="45">
                        <label>Phone1</label>
                        <input type="text" ng-model="vm.accountSetting.phone1" required>
                    </md-input-container>

                    <div flex-gt-md="10"></div>

                    <md-input-container flex="100" flex-gt-md="45">
                        <label>Phone2</label>
                        <input type="text" ng-model="vm.accountSetting.phone2">
                    </md-input-container>
                </div>

                <footer layout-sm="column" layout-align-sm="start start" layout="row" layout-align="start center">
                    <md-button ng-click="" class="post-button md-accent md-raised" aria-label="POST">
                        UPDATE ACCOUNT SETTING
                    </md-button>

                    <a ng-click="vm.triggerFileInput('photo')" class="md-button md-accent md-raised point-arrow" >
                        <md-icon md-font-icon="icon-file-image"></md-icon>
                        <span>UPDATE PHOTO</span>
                    </a>
                </footer>
            </form>
        </div>

        <div class="profile-box info-box general md-whiteframe-1dp" layout="column" nv-file-drop uploader="vm.uploader">
            <form name="jobTypes" ng-submit="vm.updateTypes()">
                <header class="md-accent-bg">
                    <div class="title" >Type of Service Provider</div>
                </header>

                <div class="content" layout="row" layout-wrap layout-align="start center" style="font-size: 18px;">
                    <div ng-repeat="item in vm.types">
                        <md-checkbox ng-model="item.value" aria-label="Checkbox">
                            {{item.name}}
                        </md-checkbox>
                    </div>
                </div>

                <footer layout="row" layout-align="start center">
                    <md-button  class="post-button md-accent md-raised" aria-label="POST">
                        UPDATE JOB TYPE
                    </md-button>
                </footer>
            </form>
        </div>
    </div>

    <div class="about-sidebar" layout="column" flex="100" flex-gt-md="50" flex-gt-lg="35">

        <input id="imageuploader" ng-show="false" type="file" nv-file-select uploader="vm.uploader"
                                    filter="queueLimit" />

        <div class="profile-box groups md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" >Agreement</div>
            </header>

            <div class="content" >
                <div class="group"  layout="row" layout-wrap layout-align="center center">
                    <md-button class="md-raised md-accent" layout="row" layout-align="start start" flex="90"
                        ng-click="vm.showAdvanced($event, '1099', user.fname, user.lname, user.driverlicense_updated_at)">
                        <span>1099</span>
                    </md-button>

                    <md-button class="md-raised md-primary" layout="row" layout-align="start start" flex="90"
                        ng-click="vm.showAdvanced($event, 'noncompete')">
                        <span>Non-Compete</span>
                    </md-button>

                    <md-button class="md-raised md-warn" layout="row" layout-align="start start" flex="90"
                        ng-click="vm.showAdvanced($event, 'confidentiality')">
                        <span>Confidentiality</span>
                    </md-button>

                    <md-button class="md-raised md-accent" layout="row" layout-align="start start" flex="90"
                        ng-click="vm.showAdvanced($event, 'delivery')">
                        <span>delivery promise</span>
                    </md-button>
                </div>
            </div>
        </div>

        <div class="profile-box groups md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" >Certificate</div>
            </header>

            <div class="content" >
                <div class="group"  layout="row" layout-wrap layout-align="center center">
                    <md-button class="md-raised md-accent" layout="row" layout-align="start start" flex="90"
                        ng-click="vm.triggerFileInput('driverlicense')">
                        <md-icon ng-show="user.driverlicense_file_name" md-font-icon="icon-file-image" class="icon s26"></md-icon>
                        <md-icon ng-show="!user.driverlicense_file_name" md-font-icon="icon-file-hidden"  class="icon s26"></md-icon>
                        <span>&nbsp;&nbsp;&nbsp;Driver &nbsp;&nbsp;License</span>
                    </md-button>

                    <md-button class="md-raised md-warn" layout="row" layout-align="start start" flex="90"
                        ng-click="vm.triggerFileInput('proofinsurance')">
                        <md-icon ng-show="user.proofinsurance_file_name"md-font-icon="icon-file-image"  class="icon s26"></md-icon>
                        <md-icon ng-show="!user.proofinsurance_file_name"md-font-icon="icon-file-hidden"  class="icon s26"></md-icon>
                        <span>&nbsp;Proof Insurance</span>
                    </md-button>
                </div>
            </div>
        </div>

        <div class="profile-box info-box general md-whiteframe-1dp" layout="column" nv-file-drop uploader="vm.uploader">
            <form name="jobTypes" ng-submit="vm.updateNotification()">
                <header class="md-accent-bg">
                    <div class="title" >Job Notification</div>
                </header>

                <div class="content" layout="row" layout-wrap layout-align="start center" style="font-size: 18px;">
                    <md-checkbox ng-model="vm.agreement.sms" aria-label="Checkbox">
                        SMS
                    </md-checkbox>

                    <md-checkbox ng-model="vm.agreement.email" aria-label="Checkbox">
                        E-Mail
                    </md-checkbox>
                </div>

                <footer layout="row" layout-align="start center">
                    <md-button  class="post-button md-accent md-raised" aria-label="POST">
                        Update
                    </md-button>
                </footer>
            </form>
        </div>

    </div>

</div>

