<form>
    <h4>Noncircumvent Agreement</h4>
    <div class="agreement-contents">
        <p>WHEREAS the undersigned Principals wish to enter into an Agreement and define certain parameters of their Legal obligations to, and with each other; </p>
        <p>AND </p>
        <p>WHEREAS the undersigned desire to enter into a working and business association for Mutual and Common Benefit. </p>
        <p> THEREFORE in consideration of mutual promises, assertions and Covenants Herein Stated, and other Good and Valuable considerations, the receipt of which is Hereby acknowledged, the Parties to this Agreement Hereby Agree to the following Terms And Conditions; </p>
        <p>You, the SERVICE PROVIDER will refrain from soliciting business and contracts from sources not your own which have been made available to you through Zoom Errands, Inc., without the expressed written permission of Zoom Errands, Inc., for a period of 1000 years. In addition, SERVICE PROVIDER will maintain complete confidentiality regarding Business Sources , and will only disclose such business sources under mutual agreement, and only after written permission has been received from Zoom Errands, Inc.</p>
        <p>ADDITIONALLY, SERVICE PROVIDER Hereby Agrees not to Circumvent or attempt to Circumvent any Party who is, or may be associated directly, or indirectly with the Work and Clients provided and Transactions. </p>
        <p>IN the event of either direct or indirect Circumvention or Disclosure of names in this Transaction and Contract, if proven to be intentional and compensation has been lost, the aggrieved and Circumvented Party, Zoom Errands, Inc. will be entitled to monetary compensation, equal to three times the maximum service Fee it would realize from such a Transaction, plus expenses, including, but not limited to legal expenses that may later be incurred while attempting to recover lost revenue. </p>
        <p>THIS Agreement is enforceable in a United States of America court of Law. Signatories to this Agreement Hereby acknowledge that they have read and understand the terms of this Agreement, and acknowledge having full legal authority to execute the document in the name of the party for which they have given their signature. It is further agreed that faxed copies of this instrument are deemed as legally binding as the original. </p>

        <div ng-show="!!vm.agreement.noncompete"  class="margin-top-25">
          <h4>AGREED AND ACCEPTED BY:</h4>
          <p>Date: {{vm.agreement.noncompete}} </p>
          <p>By  {{vm.fullName}} </p>
          <p></p>
        </div>
    </div>
  <div class="md-actions margin-top-25" layout="row" >
      <label ng-show="!vm.agreement.noncompete">Full Name:&nbsp;&nbsp;</label>
      <input ng-show="!vm.agreement.noncompete" ng-model="vm.fullName" type="text" placeholder="James Smith" >
      <span flex></span>
      <button class="btn" ng-if="!vm.agreement.noncompete" ng-click="vm.agreeNoncompete()">Agree</button>
      <button class="btn" ng-click="closeThisDialog()">
          <span ng-if="!vm.agreement.noncompete" >Don't agree</span>
          <span ng-if="!!vm.agreement.noncompete" ng-click="closeThisDialog()">Ok</span>
      </button>
  </div>
</form>
