    <form>
        
        <div class="agreement-contents"> 
          <h3>Delivery Promise Agreement</h3>           
          <p>
            I promise to arrive on time for every job and delivery I am assigned to by Zoom
            Errands, and to arrive to the job/delivery location in a timely manner. I
            understand the importance of showing up to the job location on time, and for
            deliveries, delivering the product to the receiving location on time. Prompt arrival
            for jobs is mandatory. Picking up delivery items and getting the items to the
            destination by the stated delivery time is a critical part of this job function and I
            pledge to uphold the best possible and timely services I can provide.
          </p>
          
          <p>
            I pledge that I will use an appropriate GPS system, as this is also a critical aspect of
            this job assignment. I will also keep my vehicle in satisfactory cleanliness. I
            pledge that I will represent Zoom Errands in the best possible way each and every
            time.
          </p>
          
          <p>
            I understand that the jobs and lives of the other service providers, delivery
            drivers, and the company itself could be adversely affected should I show up late
            to jobs/deliveries and not make the deliveries on time. I understand that I could
            be held responsible for any adverse effects that not showing up for a job/delivery,
            showing up late, or providing unsatisfactory services might cause.
          </p>
          <p>
            Should an emergency situation arise, I promise to notify the Zoom Errands
            affected customer, other affected parties, and Zoom Errands company managers
            as soon as safely possible.
          </p>
          
          <div ng-show="!!vm.agreement.delivery"  class="margin-top-25">
            <h4>AGREED AND ACCEPTED BY:</h4>
            <p>Date: {{vm.agreement.delivery}} </p>
            <p>By  {{vm.fullName}} </p>
            <p></p>
          </div>
        </div>
        <div class="md-actions margin-top-25" layout="row" >
           <label ng-show="!vm.agreement.delivery">Full Name:&nbsp;&nbsp;</label>
            <input ng-show="!vm.agreement.delivery" ng-model="vm.fullName" type="text" placeholder="James Smith" >
            <span flex></span>
            <button class="btn" ng-if="!vm.agreement.delivery" ng-click="vm.agreeDelivery()">Agree</button>
            <button class="btn" ng-click="closeThisDialog()">
              <span ng-if="!vm.agreement.delivery" >Don't agree</span>
              <span ng-if="!!vm.agreement.delivery" ng-click="closeThisDialog()">Ok</span>
            </button>
        </div>
    </form>
</md-dialog>