#timestatus-client {
    background: #f9f9f9;

    a {
        font-size: 16px;
    }

    .table {
        background: #fdfdfd;
        margin-bottom: 12px;

        td {
            color: #494949;
            font-size: 24px;
            padding: 0px 60px;
            vertical-align: middle;
        }
        .num {
            font-size: 57px;
            line-height: 81px;
            //font-weight: bold;
            text-align: right;
        }

        &.hours-table {
            .num-positive {
                color: #3d77a9;
            }
            .num-negative {
              color: #df1d39;
            }
        }
        &.money-table {
            .num-positive {
              color: #72bc09;
            }
            .num-negative {
              color: #df1d39;
            }
        }
    }


    .timestatus-footer {
        background: #bbb;
        height: 70px;
        line-height: 70px;
        margin-top: 36px;
        color: #fff;

        .glyphicon-earphone {
            font-size: 13px;
            font-weight: bold;
        }

        .glyphicon-earphone:before {
            font-size: 18px;
            position: relative;
            left: 8px;
            top: 3px;
        }
    }

    .timestatus-title {
        color: #494949;
        font-family: 'LatoWebLight';
        font-size: 36px;
        //font-weight: lighter;
        margin-bottom: 67px;
    }

    .icon-add {
        background: transparent url('/assets/images/icons/icon-add.png') no-repeat center center;
        display: inline-block;
        height: 16px;
        margin-right: 3px;
        text-indent: -9999px;
        position: relative;
        top: 3px;
        width: 16px;
    }

    .icon-purchase-more-hours {
        background: transparent url('/assets/images/icons/icon-purchase-more-hours.png') no-repeat center center;
        display: inline-block;
        height: 17px;
        margin-right: 5px;
        text-indent: -9999px;
        position: relative;
        top: 5px;
        width: 26px;
    }

    .h-bottom-30 {
        margin-bottom: 30px;
    }

}