<nav class="navbar navbar-default" role="navigation" ng-init="client_signedIn=(user.signedIn && user.configName=='default')">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" 
            ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img  src="assets/images/logos/ze_logo_header.png" />
        </div>

        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">  
            
            <ul class="nav navbar-nav navbar-right">
        		<li ng-if="user.signedIn && user.configName=='default'">
                    <a  ui-sref="app.client.dashboard">
                    	Home
                    </a>
                </li>

                <li ng-if="user.signedIn && user.configName=='default'">
                    <a  ui-sref="app.client.myerrand">
                        My Errands
                    </a>
                </li>  

                <li ng-if="user.signedIn && user.configName=='default'">
                    <a  ui-sref="app.client.myerrand">
                        Time Status
                    </a>
                </li>  

                <li ng-if="user.signedIn && user.configName=='default'">
                    <a  ui-sref="app.client.myerrand">
                        Purchase Hours
                    </a>
                </li>                

                <li ng-if="user.signedIn" uib-dropdown>
                  <a href class="image-padding" id="simple-dropdown" uib-dropdown-toggle>
                    <div class="float-right">
                        <div class="avatar-wrapper">
                            <img class="avatar" ng-show="!user.signedIn" src="assets/images/avatars/profile.jpg">
                            <img class="avatar" ng-show="user.signedIn" ng-src="{{user.photoThumbUrl}}">
                        </div>
                        <!-- <span>ACCOUNT </span><span class="caret"></span> -->
                        <span class="username" hide-sm>{{user.fname|capitalize}} {{user.lname|capitalize}}</span>
                        <!-- <md-icon md-font-icon="icon-chevron-down"
                                 class="icon s16" hide-sm></md-icon> -->
                    </div>
                  </a>
                  <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">                    
                    <li><a ng-if="user.configName == 'default'" ui-sref="app.client.profile">My Profile</a></li>
                    <li><a ng-if="user.configName == 'provider'" ui-sref="app.provider.profile">My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="cursor-pointer" ng-click="signOut()">Log out</a></li>
                  </ul>
                </li>

                <li ng-if="!user.signedIn">
                    <a  ui-sref="app.pages_auth_register">
                    	Sign Up
                    </a>
                </li>
                <li ng-if="!user.signedIn">	                		
                    <a  href="#howitworks">
                    	How It Works
                    </a>
                </li>
                <li ng-if="!user.signedIn">	                		
                    <a  ui-sref="app.pages_auth_login">
                    	Log In
                    </a>
                </li>
                <li ng-if="!user.signedIn">	                		
                    <a class=" text-primary" href="#contactus">
                    	<!-- <span class="glyphicon glyphicon-earphone"></span> -->
                    	(310) 425-6425
                    </a>
                </li>	                
            </ul>            
        </div>
    </div>
</nav>

<div class="escrow-div" ng-if="user.signedIn && user.configName=='default'">
    <div class="container">
    <div class"row">
        <div class="col-sm-10 col-sm-offset-2 ">    
            <div class="escrow-hours">
                Errand hours remaining: 
                <span class="text-primary">3.5</span>                                          
            </div>

            <div class="escrow-hours">
                Escrow balance: 
                <span class="text-primary">{{23.21 | currency}}</span>
            </div>
        </div>  
    </div>
   </div> 
</div>
