.waiting-clock {
    width: 100%;
    height: 1035px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    z-index: 10;
    .waiting-gif {
        position: absolute;
        top: 60vh;
        left: 48%;
    }
}

#purchase-client {
    background: #f9f9f9;
    min-height: calc(100vh - 83px - 66px);
    //padding-bottom: 70px;

    .ng-invalid {
        color: red;
    }

    .purchase-title {
        color: #494949;
        font-family: 'LatoWebLight';
        font-size: 36px;
        // margin-bottom: 0px;
        margin-top: 40px;
    }

    .payment-methods {
        color: #494949;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 8px;
        &.secure-payments {
            text-align: right;
        }
    }

    .custom-header {
        color: #3d77a9;
        font-size: 18px;
        font-weight: bold;
    }

    .ph-hours-dropdown {
        background: #3d77a9;
        border: 2px solid #fff;
        border-radius: 7px;

        -webkit-box-shadow: 0px 0px 10px -2px #777;
        -moz-box-shadow: 0px 0px 10px -4px #777;
        box-shadow: 0px 0px 10px -2px #777;

        color: #fff;
        font-size: 24px;
        text-align: center;
        list-style-type: none;
        position: absolute;
        top: 25px;
        left: 45px;
        padding: 0;
        width: calc(70% - 0px);
        z-index: 10;
        li {
            border-bottom: 1px solid #fff;
            &:hover {
                background: #5f99cb;
            }
        }
    }


    .ph-btn {
        background: #fff;
        cursor: pointer;

        -webkit-box-shadow: 0px 0px 10px -2px #777;
        -moz-box-shadow: 0px 0px 10px -4px #777;
        box-shadow: 0px 0px 10px -2px #777;

        border-radius: 7px;
        margin-bottom: 22px;
        position: relative;
        overflow: hidden;
        &.ph-default {
            .ph-btn-top {
                background: #0082c7;
            }
            .little-arrow {
                display: inline-block;
                font-size: 12px;
                font-style: normal;
                margin-left: 10px;
                position: relative;
                top: -4px;
            }
        }

        &.ph-red {
            .ph-btn-top {
                background: #ea6539;
            }
        }

        &.selected {
            -webkit-box-shadow: 0px 0px 10px -1px red;
            -moz-box-shadow: 0px 0px 10px -4px red;
            box-shadow: 0px 0px 10px -1px red;
        }
        &:focus {
            outline: none;
        }

        &.ph-delivery {
            background: #0082c7;
            color: #fff;
            font-size: 16px;
            padding: 15px;
            position: relative;
            .quick-delivery {
                // font-family: 'LatoWebLight';
                font-size: 12px;
                margin-left: 60px;
                margin-top: -2px;
            }
            .ph-price {
                font-size: 26px;
                text-align: center;
                margin: 2px 0;
            }
            .ph-delivery-info {
                font-size: 7px;
                text-align: center;
            }

            .ph-delivery-car {
                float: left;
                width: 50px;
            }
        }

        &.ph-makepayment {
            background: #ea6539;
            color: #fff;
            // font-family: 'LatoWebLight';
            font-size: 16px;
            padding: 15px;
            text-align: center;

            input {
                color: #000;
                // font-family: 'LatoWeb';
                font-size: 16px;
                // height: 50px;
                // line-height: 50px;
                margin-top: 20px;
                text-align: right;
            }
        }

        .ph-btn-top {
            color: #fff;
            font-size: 30px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .ph-bottom {
            color: #0082c7;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;

            &.ph-savings {
                // margin-left: -10%;
            }
        }

        .ph-savings-icon {
            // background: transparent url('/assets/images/icons/icon-close-red.png') no-repeat center center;
            color: #d90000;
            display: inline-block;
            font-size: 12px;
            line-height: 12px;
            // margin-left: 10px;
            height: 14px;
            padding-left: 20px;
            position: relative;
            top: -2px;
            // width: 15px;
            font-style: normal;
        }
    }

    .ph-gray-panel {
        background: #efefef;
        // padding: 10px 0;
    }

    .form-control {
        display: inline-block;
        height: 40px;
        // line-height: 30px;

        &::placeholder {
            color: #cacaca;
        }
    }

    .ph-aea {
        font-size: 16px;
        font-weight: bold;
        .form-control {
            margin: 0 10px 15px;
            text-align: right;
            width: 40%;
            height: 30px;
        }        
    }
    p  {
        margin-bottom: 0;
        padding-bottom: 0;
        color: gray;
        i {
            font-size: 12px;
        }
    }

    .panel-heading {
        padding-bottom: 5px;
    }

    .table-checkout-amount {
        table-layout: fixed;
        font-size: 14px;
        tr {
            td, th {
                color: #494949;
                font-weight: bold;
            }
            td:last-child,
            th:last-child {
                border-left: 1px solid #e9e9e9;
                width: 30%;
            }

        }
    }

    .ph-couponcode {
        color: #0082c7;
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;

        .form-control {
            font-size: 14px;
            height: 30px;
            // line-height: 14px;
            // margin-left: 5px;
            text-align: center;
            width: 35%;
        }
        button {
            height: 30px;
            // position: relative;
            // top: -1px;
            padding-left: 6px;
            padding-right: 6px;
        }
        .ph-btn-cancel {
            color: #3d77a9;
        }
    }

    .ph-checkout-info {
        color: #a8a8a8;
        font-size: 12px;
        margin: 3px 0;
    }

    .ph-form {
        .form-control {
            display: inline-block;
            font-size: 16px;
            margin-bottom: 4px;
            text-align: center;
            height: 35px;
        }

        // .remember-wrap {
        //     display: inline-block;
        //     position: relative;
        //     float: right;
        //     width: 35%;

        //     input {
        //         border-color: #ebebeb;
        //         float: left;
        //         height: 20px;
        //         margin-top: 15px;
        //         margin-left: 2px;
        //         width: 20px;
        //     }

        //     p {
        //         color: #585858;
        //         font-size: 14px;
        //         margin-bottom: 0;
        //         overflow: hidden;
        //     }
        // }

        .input-email {
            // width: 65%;
        }

        .input-expired {
            width: 65%;
        }

        .input-cvc {
            width: calc(35% - 4px);
            
            // &::placeholder {
            //     background: transparent url('/assets/images/icon-question.png') no-repeat 70% 10%;
            // }
        }

        .ph-btn-pay {
            background: #3d77a9;
            font-size: 18px;
            font-weight: bold;
            // height: 50px;
            margin-top: 7px;

        }
    }



}
.pre-footer {
    background: #efefef;
    color: #494949;
    padding: 20px 0;
}

@media screen and (max-width: $layout-breakpoint-sm) {

#purchase-client {
    .ph-btn {
        .ph-bottom {
            font-size: 14px;
        }
    }
    .ph-aea {
        font-size: 12px;
    }
    .ph-couponcode .form-control {
        width: 60%;
    }
    .payment-methods.secure-payments {
        text-align: left;
    }
    .custom-header {
        font-size: 16px;
    }

}
}

