<div layout="row" layout-wrap nv-file-drop="" uploader="uploader">

    <div class="about" layout="column" flex="100" flex-gt-md="50" flex-gt-lg="65">
        <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
            <form name="log_in" ng-submit="vm.updateAccount()"> 
                <header class="md-accent-bg">
                    <div class="title" >Account Setting</div>
                </header>

                <div class="content" layout="row" layout-wrap style="font-size: 18px;">  
                    <md-input-container flex="100" flex-gt-md="45" >
                        <label>First Name</label>
                        <input type="text" ng-model="vm.accountSetting.fname" required>
                    </md-input-container>

                    <div flex-gt-md="10"></div>

                    <md-input-container flex="100" flex-gt-md="45">
                        <label>Last Name</label>
                        <input type="text" ng-model="vm.accountSetting.lname" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Email</label>
                        <input type="email" ng-model="vm.accountSetting.email"  required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Address1</label>
                        <input type="text" ng-model="vm.accountSetting.address1" required>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Address2</label>
                        <input type="text" ng-model="vm.accountSetting.address2">
                    </md-input-container>                     

                    <md-input-container flex="100" flex-gt-md="45">
                        <label>Phone1</label>
                        <input type="text" ng-model="vm.accountSetting.phone1" required>
                    </md-input-container>
                    
                    <div flex-gt-md="10"></div>

                    <md-input-container flex="100" flex-gt-md="45">
                        <label>Phone2</label>
                        <input type="text" ng-model="vm.accountSetting.phone2">
                    </md-input-container>

                </div>

                <footer layout-sm="column" layout-align-sm="start start" layout="row" layout-align="start center">                
                    <md-button ng-click="" class="post-button md-accent md-raised" aria-label="POST">
                        UPDATE ACCOUNT SETTING
                    </md-button>

                    <a ng-click="vm.triggerFileInput('photo')" class="md-button md-accent md-raised point-arrow" >
                        <md-icon md-font-icon="icon-file-image"></md-icon>
                        <span>UPDATE PHOTO</span>
                    </a>
                </footer>
            </form>
        </div>

    </div>

    <input id="imageuploader" ng-show="false" type="file" nv-file-select uploader="uploader" filter="queueLimit" />

    <!-- <div class="about-sidebar" layout="column" flex="100" flex-gt-md="50" flex-gt-lg="35">       

        <div class="profile-box groups md-whiteframe-1dp" layout="column">
            <header class="md-accent-bg" layout="row" layout-align="space-between center">
                <div class="title" >My Photo</div>                
            </header>

            <div class="content" >
                <div class="group"  layout="row" layout-align="space-between center">
                    <div id="thumb_photo" layout="column" layout-align="center center">
                        <li  ng-repeat="item in uploader.queue">
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </li>
                        <input type="file" nv-file-select uploader="uploader" filter="queueLimit" /><br/>

                    </div>
                    
                </div>
            </div>

            <footer layout="row" layout-align="space-between center">                
                <md-button ng-click="vm.updatePhoto()" class="post-button md-accent md-raised" aria-label="POST">
                    UPDATE PHOTO
                </md-button>
            </footer>
        </div>

        <div id="address-map" class="card md-whiteframe-1dp">
            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">                
            </ui-gmap-google-map>
        </div>
            
            
    </div> -->

</div>