#jobdetails {
    background: #f9f9f9;

    .myerrand-title {
      color: #494949;
      font-family: 'LatoWebLight';
      font-size: 36px;
      //font-weight: lighter;
      margin-bottom: 67px;
    }

    .btn-loadmore {
        font-size: 20px;
        font-weight: bold;
        border: none;
        color: white;
        padding: 10px 70px;
    }

    #footer {      
        margin-top: 100px;
        background: rgb(187, 187, 187);
        color: white;
        padding: 30px;
        font-size: 16px;
        font-weight: bold;
    }
}