<div id="jobalert" >
  <!-- <div class="alert-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 padding-top-20">
          <img  src="assets/images/logos/ze_logo_header.png" width="100" height="45" />
        </div>

        <div class="col-xs-8 padding-right-0 ">
          <h3 class="alert-header-title">NEW JOB ALERT</h3>
          <p class="alert-sent">sent on: {{vm.job.created_at|date : 'MM/dd/yyyy h:mma'}}</p>
        </div>
                
      </div>      
    </div>
  </div> -->
  
  <div class="alert-body">
    <div class="container">      
      <div class="row margin-top-10">
        <div class="col-sm-6 col-sm-offset-3">
          <p>
            <h4 class="alert-subtitle text-bold margin-bottom-20">{{vm.job.title}}</h4>
          </p> 
          <p>
            <span class="alert-label">Service Category: </span>
            <span class="alert-value">{{vm.job.type.name}}</span>
          </p>
          <p>
            <span class="alert-label">Date/s: </span>
            <span class="alert-value">{{vm.job.datetime | date : 'MM/dd/yyyy, EEE'}}</span>
          </p> 
          <p>
            <span class="alert-label">Time: </span>
            <span class="alert-value">{{vm.job.datetime | date : 'shortTime'}}</span>
          </p> 
          <p>
            <span class="alert-label">Starting Address: </span>
            <span class="alert-value">{{vm.job.address}}</span>
          </p>
          <p>
            <span class="alert-label">Require Purchase: </span>
            <span class="alert-value">{{escrowable | yesNo}}</span>
          </p> 
          <p class="alert-label">Job Notes</p>
          <div class="alert-notes b padding-15">
            {{vm.job.details}}
          </div>            
        </div>        
      </div>

      <div class="row margin-top-30">
        <div class="col-sm-6 col-sm-offset-3">          
          <h4 class="alert-subtitle">Client Info</h4>
          <p>
            <span class="alert-label">Name: </span>
            <span>{{vm.job.client.fname}} {{vm.job.client.lname}}</span> 
          </p>  
          <p>
            <span class="alert-label">Phone: </span>
            <span>{{vm.job.client.phone1}}</span>            
          </p>
          <p>
            <span class="alert-label">Email: </span>
            <span>{{vm.job.client.email}}</span>
          </p>
        </div>        
      </div> 

      <div class="row margin-top-30">
        <div class="col-sm-6 col-sm-offset-3">          
          <h4 class="alert-subtitle">Complete Job</h4>
          <p>
            <span class="alert-label">Hours Used: </span>
            <input ng-model="vm.errand.contact" type="Number" class="form-control email-input"  required>
          </p>  
          <p>
            <span class="alert-label">Escrow Used: </span>
            <input ng-model="vm.errand.contact" type="Number" class="form-control email-input" required>  
          </p>
          <p>
            <span class="alert-label">Reception: </span>
            <input id="file-uploader" type="file" nv-file-select uploader="vm.uploader" multiple/> 
            <span ng-bind="vm.uploader.queue.length"></span>            
          </p>
        </div>        
      </div> 

      <div id="footer" class="row margin-bottom-40 margin-top-15">
        <div class="col-sm-6 col-sm-offset-3">      
            <div class="col-xs-6 text-center">
              <button class="btn btn-success padding-horizontal-20" ng-click="vm.acceptJob()">Complete Task</button>
            </div>
            <div class="col-xs-6 ">
              <button class="btn btn-danger padding-horizontal-15" ng-click="vm.declineJob()"> Not Now</button>
            </div>
        </div>
      </div>  
    </div>
  </div>
</div>

