<div id="dashboard-client" class="border-top">
    <div id="login-form-wrapper"  class="container">
        <div class="row">
        <div class="col-md-8 col-md-push-2">
            <div class="row">
                <div class="dashboard-title margin-bottom-30 margin-top-30">What can we do for you today <span>{{user.fname|capitalize}}</span>?</div>
                <div class="col-sm-12 margin-bottom-20">
                    <div class="row" id="carousel">
                        <slick lazy-load="ondemand" on-init="vm.slickOnInit()" dots=true infinite=true slides-to-show=4 slides-to-scroll=2 responsive="vm.breakpointCards">
                            <!-- <div class="col-xs-3 col-sm-6"> -->
                                <div ng-repeat="service in vm.services" class="panel panel-default panel-card">
                                    <div class="panel-body text-center">
                                        <a ng-if="!vm.refreshing" ng-click="vm.gotoAnchor(service.id)">
                                            <img class="center-block card-image" ng-src={{service.image}} alt=""/>
                                        </a>
                                        <a ng-if="!vm.refreshing" ng-click="vm.gotoAnchor(service.id)" class="panel-link">{{service.title}}</a>
                                    </div>
                                </div>                            
                        </slick>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div id="login-form" class="col-sm-12 col-md-12 margin-bottom-40 text-center " ng-class="{'submitted-success': vm.submitted}">
                        <div ng-if="!vm.submitted">
                            <!-- <div class="logo">
                                <img ng-src="assets/images/logos/ze_logo_header.png" alt="Zoom Errands"/>
                            </div> -->
                            <h2 id="form-anchor" class="errand-details">Enter the details of your errand below</h2>

                            <form ng-submit="vm.submitErrand()" role="form" >
                                <div id="account-info">
                                    <input ng-model="vm.errand.title" type="text" class="form-control email-input" placeholder="Errand Title" autocomplete="off" focus-if="vm.titleFocused" required>

                                    <div class="col-sm-4 padding-0 margin-bottom-10">
                                        <select class="form-control" ng-options="office.id as office.longName for office in vm.zoomoffices" ng-model="vm.errand.zoom_office_id" required>
                                            <option value="" disabled>Zoom Errands Location</option>
                                        </select>
                                    </div>
                                    <!-- <datetimepicker data-ng-model="vm.errand.date"></datetimepicker> -->
                                    <div class="col-sm-8 div-datetime">
                                      <button type="button" class="btn btn-default cal-btn" ng-click="vm.openCalendar($event, prop)"><i class="icon-calendar"></i></button>
                                      <input type="text" class="form-control date-input" datetime-picker="MMMM dd, yyyy HH:mm" ng-model="vm.errand.datetime" is-open="vm.isOpen" placeholder="Date of errand" ng-click="vm.openCalendar($event, prop)" readonly required>
                                    </div>
                                    <input g-places-autocomplete  force-selection="true" options="vm.autocompleteOptions" ng-model="vm.addr" ng-class="{'warning-border':vm.invalidAddress}" class="form-control" placeholder="Starting Address" autocomplete="off" ng-blur="vm.blurAddress()" required>
                                    <span ng-show="vm.invalidAddress" class="invalid-warning">Please complete address with google autocomplete exaclty.</span>
                                    <div class="col-xs-12 col-sm-8 padding-0 margin-bottom-10">
                                        <input ng-model="vm.errand.contact" type="text" class="form-control email-input" placeholder="Contact phone number" ui-us-phone-number autocomplete="off" required>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 padding-0 margin-bottom-10">
                                        <select class="form-control type-select" ng-options="type.id as type.name for type in vm.alltypes" ng-model="vm.errand.type_id" required>
                                            <option value="" disabled>Type</option>
                                        </select>
                                    </div>
                                    <!-- <ui-select multiple ng-model="vm.errand.types" theme="bootstrap" ng-disabled="disabled">
                                        <ui-select-match placeholder="Select person...">{{$item.name}}</ui-select-match>
                                        <ui-select-choices repeat="type.id as type in vm.alltypes | filter:$select.search">
                                          <div ng-bind-html="type.name | highlight: $select.search"></div>
                                          <small>
                                            <span ng-bind-html="type.comment | highlight: $select.search"></span>
                                          </small>
                                        </ui-select-choices>
                                    </ui-select> -->


                                    <textarea ng-model="vm.errand.details" class="form-control textarea"
                                    rows="4" placeholder="Errand Details" required>
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </textarea>

                                    <input id="errand-uploader" type="file" ng-show="false" nv-file-select
                                           uploader="vm.uploader" multiple/>
                                    <a ng-click="vm.triggerFileInput('errandFile')" class="upload-errand">
                                        <div class="font-size-16 ">
                                            <p>
                                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                                &nbsp;Upload&nbsp;File&nbsp;&nbsp;
                                                <span ng-bind="vm.uploader.queue.length"></span>
                                            </p>
                                        </div>

                                    </a>

                                    <!-- <a ng-repeat="img in vm.uploader.queue" href="{{img.uploadUrl}}" class="no-decoration" target="_blank">
                                      <img class="upload-img" ng-src="{{img.thumbUrl}}">
                                    </a> -->

                                    <div class="text-right allow-cb-wrap">
                                        <input type="checkbox"  ng-model="vm.errand.escrowable" class="gray-font-color">
                                        Allow access escrow account
                                    </div>
                                </div>
                                <div class="col-md-10 col-md-push-1 text-center btn-dashboard-wrap">
                                   <button class="btn btn-dashboard ">Submit</button>
                                </div>
                              <!--
                                <div class=" col-md-6 text-center">
                                   <a class="btn btn-dashboard btn-cancel" ng-click="vm.reset()">Reset</a>
                                </div>
                                -->
                            </form>
                        </div> <!-- ng-if="false" -->
                        
                        <div ng-if="vm.submitted" class="text-left submitted-notification">
                            <p>Your errand <b>{{vm.errand.title}}</b> has been successfully submitted!</p>
                            <p>Errand Date: {{vm.errand.datetime|date:'dd MMM yyyy'}}</p>
                            <p>Errand Time: {{vm.errand.datetime|date:'h:mma'}}</p>
                            <p>Errand Category: {{vm.alltypes[vm.errand.type_id-1].name}}</p>
                            <p class="margin-bottom-30">Zoom Errands office: {{vm.zoomoffices[vm.errand.zoom_office_id-1].longName}}</p>
                            <div class="col-sm-6 ">
                                <button ng-click="vm.submitFalse()" class="btn btn-success">Post new errand</button>
                            </div>    
                               
                            <div class="col-sm-6">
                                <button ui-sref="app.client.myerrand" class="btn btn-primary">My errands list</button>
                            </div>    
                        </div> <!-- ng-if="false" -->    
                    </div>
                </div>

                    <div class="clearfix"></div>

                    <div class="row margin-left-0 margin-right-0">
                        <!--
                        <div class="col-sm-6 hidden-xs">
                            <event-calendar data-cal-id="evtCal" data-events="vm.events"></event-calendar>
                        </div>
                        -->

                        <div class="col-sm-12">
                            <div class="notifications">
                                <h2 class="notifications-title">Notifications</h2>

                                <div class="notifications-scroll">
                                    <div class="scroller-companies" infinite-scroll="vm.myPagingFunction()" infinite-scroll-parent="true" infinite-scroll-immediate-check="false" >
                                        <div ng-repeat="notification in vm.notifications" class="notification">
                                            <div class="n-avatar">
                                                <!-- <img class="n-avatar-image" src="/assets/images/avatars/n-avatar.png" alt="{{notification.notify_type}}"/> -->
                                                <img class="n-avatar-image" ng-src="/assets/images/icons/notification_{{notification.notify_type}}.png" alt="{{notification.notify_type}}"/>
                                            </div>
                                            
                                            <div class="n-inner">
                                                <h3 class="n-title" ng-bind="notification.name"></h3>
                                                <div class="n-time" ng-bind="notification.updated_at|date:'MM/dd, h:mma'"></div>
                                                <p class="n-text" ng-bind="notification.text"></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>    
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="row errands-wrapper">
                        <h1 class="dashboard-title">Open Errands</h1>

                        <div id="login-form-errands" class="col-md-12  table-responsive margin-bottom-40">
                            <table st-table="vm.displayedtasks" st-safe-src="vm.tasks" class="table ">
                                <thead>
                                <th class="text-center">DATE</th>
                                <th>ERRAND TITLE</th>
                                <th>SERVICE PROVIDER</th>
                                <th class="text-center">UPLOADS</th>
                                <th class="text-center">ESCROW USED</th>
                                <th class="text-center">HOURS USED</th>
                                <th class="text-center"></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="task in vm.displayedtasks | filter:{ status: 'open' }" class="border-side">
                                    <td class="text-center">{{task.datetime | date}}</td>
                                    <td><a ui-sref='app.client.editerrand({id: {{task.id}}})'>{{task.title}}</a></td>
                                    <td>
                                        <img class="avatar" ng-src="{{task.provider.photoThumbUrl}}">
                                        {{task.provider.fname}} {{task.provider.lname}}
                                    </td>
                                    <td class="text-center">
                                        <a ng-repeat="upload in task.task_uploads" href="{{upload.uploadUrl}}" target="_blank">
                                            <img class="upload-img"  ng-src="{{upload.uploadThumbUrl}}">
                                        </a>
                                    </td>
                                    <td class="text-center">{{task.escrowable | yesInprogress}}</td>
                                    <td class="text-center ">
                                        <button class="btn btn-danger padding-vertical-2">
                                            Open</button>
                                    </td>
                                    <td>
                                        <a ng-click="vm.deleteTask(task)">delete</a>
                                    </td>
                                </tr>
                                <tr class="gap-tr">
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr ng-repeat="task in vm.displayedtasks | filter:{ status: 'close' }" class="border-side">
                                    <td class="text-center">{{task.datetime | date}}</td>
                                    <td><a ui-sref='app.client.editerrand({id: {{task.id}}})'>{{task.title}}</a></td>
                                    <td>
                                        <img class="avatar" ng-src="{{task.provider.photoThumbUrl}}">
                                        {{task.provider.fname}}
                                    </td>
                                    <td class="text-center">
                                        <a ng-repeat="upload in task.task_uploads" href="{{upload.uploadUrl}}" target="_blank">
                                            <img class="upload-img"  ng-src="{{upload.uploadThumbUrl}}">
                                        </a>
                                    </td>
                                    <td class="text-center">{{task.usedEscrow | currency}}</td>
                                    <td class="text-center">{{task.usedHour}}</td>
                                    <td></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                    -->

                    
                </div> <!-- row -->
            </div> <!-- col-md-6 -->
        </div> <!-- row -->
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <p>Zoom Errands, Inc.</p>
            </div>
            <div class="col-sm-3 font-size-14">
                <p>
                    <i class="glyphicon glyphicon-earphone text-bold"></i>
                    &nbsp;(310) 425-6425
                </p>
            </div>
        </div>
    </div>
</div>




