$border-color: rgba(200,200,200, 0.7);


#editerrand-client {
    background: #f9f9f9;
    width: 100%;
    height: 100%;  

    .datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
        border: 0;
    }
    .datetime-picker-dropdown * {
      ouline: none;
    }

    // .dropdown-menu {
    //     top: auto;
    // }

    #editerrand-panel {
        -webkit-box-shadow: 0px 0px 10px -2px #777;
        -moz-box-shadow: 0px 0px 10px -4px #777;
        box-shadow: 0px 0px 10px -2px #777;

        border-radius: 4px;

        padding-left: 0;
        padding-right: 0;
        // margin-top: 50px;
        background: rgba(255,255,255,0.9);
        position: relative;

        .editerrand-title {
            color: white;
            // font-family: 'LatoWebLight';
            font-size: 20px;
            
            text-align: center;
            
            border-bottom: 1px solid lightgray;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: $brand-primary;
        }

        .form-editerrand{
            padding: 20px;
            // padding-left: 30px;
            // padding-right: 30px;
        }

        textarea {
           resize: none;
        }

        .provider-info {
            border-top: 1px solid lightgray;
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        label {
            font-weight: normal;
            color: grey;
        }

        .icon-calendar {
            background: transparent url('/assets/images/icons/icon-cal-blue.png') no-repeat center center;
            background-size: contain;
            display: inline-block;
            height: 27px;
            width: 40px;
        }

        .upload-errand {            
            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }

    }
}