<div id="jobalert" >
  <div class="alert-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 padding-top-20">
          <img  src="assets/images/logos/ze_logo_header.png" width="100" height="45" />
        </div>

        <div class="col-xs-8 padding-right-0 ">
          <h3 class="alert-header-title">NEW JOB ALERT</h3>
          <p class="alert-sent">sent on: {{vm.job.created_at|date : 'MM/dd/yyyy h:mma'}}</p>
        </div>
                
      </div>      
    </div>
  </div>
  
  <div class="alert-body">
    <div class="container">
      <!-- <div class="row">
        <div class="col-xs-12">
          <div class="alert-subtitle">JOB DETAILS</div>
        </div>
        <div class="col-xs-5">
          <div class="alert-subtitle">
            <span class="glyphicon glyphicon-home"></span>
              Login to view your job pages
          </div>
        </div>
      </div> -->
      <div class="row margin-top-10">
        <div class="col-xs-12">
          <p>
            <h4 class="alert-subtitle text-bold margin-bottom-20">{{vm.job.title}}</h4>
          </p> 
          <p>
            <span class="alert-label">Service Category: </span>
            <span class="alert-value">{{vm.job.type.name}}</span>
          </p>
          <p>
            <span class="alert-label">Date/s: </span>
            <span class="alert-value">{{vm.job.datetime | date : 'MM/dd/yyyy, EEE'}}</span>
          </p> 
          <p>
            <span class="alert-label">Time: </span>
            <span class="alert-value">{{vm.job.datetime | date : 'shortTime'}}</span>
          </p> 
          <p>
            <span class="alert-label">Starting Address: </span>
            <span class="alert-value">{{vm.job.address}}</span>
          </p>
          <p>
            <span class="alert-label">Require Purchase: </span>
            <span class="alert-value">{{escrowable | yesNo}}</span>
          </p> 
          <p class="alert-label">Job Notes</p>
          <div class="alert-notes b padding-15">
            {{vm.job.details}}
          </div>            
        </div>        
      </div>

      <div class="row margin-top-30">
        <div class="col-xs-12">          
          <h4 class="alert-subtitle">Contact Info</h4>
          <p>
            <span class="alert-label">Name: </span>
            <span>{{vm.job.client.fname}} {{vm.job.client.lname}}</span> 
          </p>  
          <p>
            <span class="alert-label">Phone: </span>
            <span>{{vm.job.client.phone1}}</span>            
          </p>
          <p>
            <span class="alert-label">Email: </span>
            <span>{{vm.job.client.email}}</span>
          </p>
        </div>        
      </div> 

      <div id="footer" class="row margin-bottom-40 margin-top-15">
        <div class="col-xs-6 text-center">
          <button class="btn btn-success padding-horizontal-20" ng-click="vm.acceptJob()">ACCEPT</button>
        </div>
        <div class="col-xs-6 ">
          <button class="btn btn-danger padding-horizontal-15" ng-click="vm.declineJob()">DECLINE</button>
        </div>
      </div>  
    </div>
  </div>
</div>

