<div id="register" class="scrollable" ms-scroll>
    <div id="login-form-wrapper"  class="container">
        <div class="row">
            <div id="login-form" class="col-sm-6 col-sm-offset-3">
                <div class="logo">
                    <img ng-src="assets/images/logos/ze_logo_header.png" alt="Zoom Errands"/>
                </div>

                <div class="text-muted title">Service Provider Sign Up</div>  

                <form ng-submit="submitRegistration(vm.form, {config: 'provider'})" role="form" >
                    <input ng-model="vm.form.email" type="email" class="form-control email-input" placeholder="E-mail address">
                    <input ng-model="vm.form.password" type="password" class="form-control password-input" placeholder="Password">
                    <input ng-model="vm.form.password_confirmation" type="password" class="form-control password-input" placeholder="Password_confirmation">
                    <md-button class="btn btn-login">Sign Up</md-button>
                </form> 
<!-- 
                <p class="or-divider">Or Sign Up with</p>

                <md-button ng-click="authenticate('facebook', {config: 'provider'})" class="btn btn-primary btn-facebook">Facebook</md-button> -->

                <div class="row">
                    <div class="col-xs-6 text-left"><a ui-sref="app.pages_auth_login_provider">Login</a></div>
                    <div class="col-xs-6 text-right"><a ui-sref="app.pages_auth_forgot-password_provider">Forgot Password?</a></div>
                </div>  
            </div>
        </div>        
    </div>
</div>