<div id="register" class="scrollable client-login" ms-scroll>
    <div id="login-form-wrapper"  class="container">
        <div class="row">
            <div id="login-form" class="col-sm-6 col-sm-offset-3">
                <div class="logo">
                    <img ng-src="assets/images/logos/ze_logo_header.png" alt="Zoom Errands"/>
                </div>

                <div ng-if="!vm.signupSuccess">
                    <div class="text-muted title  margin-vertical-32 ">Sign Up</div>  

                    <form ng-submit="submitRegistration(vm.form, {config: 'default'})" role="form" >
                        <input ng-model="vm.form.email" type="email" class="form-control email-input" placeholder="E-mail address">
                        <input ng-model="vm.form.password" type="password" class="form-control password-input" placeholder="Create Password">
                        <input ng-model="vm.form.password_confirmation" type="password" class="form-control password-input" placeholder="Confirm Password">
                        <button class="btn btn-login">Sign Up</button>
                    </form> 

                    <p class="or-divider">Or Sign Up with</p>

                    <button ng-click="authenticate('facebook', {config: 'default'})" class="btn btn-primary btn-facebook">Facebook</button>

                    <div class="row">
                        <div class="col-xs-6 text-left"><a ui-sref="app.pages_auth_login">Login</a></div>
                        <div class="col-xs-6 text-right"><a ui-sref="app.pages_auth_forgot-password">Forgot Password?</a></div>
                    </div> 
                </div>

                <div ng-if="vm.signupSuccess">
                    <div class="text-muted text-justify notify-text  margin-top-80">
                        You have successfully registered for a Zoom Errands account! 
                        Please check your email and click on the link to complete your registration.
                    </div>
                    <div class="text-muted notify-text margin-vertical-32">
                        Thank you,
                    </div>
                    <div class="text-brand margin-bottom-50">
                        Zoom Errands, Inc.
                    </div>
                    <button ui-sref="app.pages_homepage" class="btn btn-primary btn-facebook margin-bottom-20">Return to Homepage</button>
                </div>   
            </div>
        </div>        
    </div>
</div>