#register {
    width: 100%;
    height: 100vh;
    // background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    &.client-login{
        background: url('/assets/images/zoom/login-bg2.jpg') no-repeat;
        background-size: cover;
    }
    
    #login-form-wrapper {
        // height: 100%;
        // min-height: 840px;

        #login-form {
            // max-width: 650px;
            padding: 40px 60px;
            margin-top: 20px;
            background: rgba(255,255,255,0.9);
            text-align: center;
            border: 1px solid rgba(200,200,200, 0.7);
            border-radius: 8px;

            
            .title {
                font-size: 28px;
                // font-weight: 100;
                margin-bottom: 32px;
                letter-spacing: 2px;
            }

            .btn {
                width: 100%;
                height: 50px;
                font-size: 20px;
                font-weight: bold;
                border: none;
                color: white;
                text-transform: none;
            }

            form {
                width: 100%;

                .form-control {
                    text-align: center;
                    margin-top: 10px;
                    height: 50px;
                    border: 1px solid rgba(200,200,200, 0.7);
                    border-radius: 5px;
                    font-size: 18px;
                }

                .btn-login {                    
                    margin: 20px 0;
                    font-size: 20px;
                    font-weight: bold;
                    background-color: $brand-primary;                    
                }
            }    

            .or-divider {
                color: $gray;
                font-size: 18px;
            }

            .btn-facebook {                
                margin-bottom: 10px;    
                margin-left: 0px !important;                    
                background-color: rgb(63, 92, 154);                
            }
            
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #register {

        #login-form-wrapper {

            #login-form {
                padding: 24px;
                margin: 20px 10px ;
            }
        }
    }

}